
@font-face { font-family: 'iranyekan'; src: url('../webfonts/iranyekanwebregular.eot'); src: url('../webfonts/iranyekanwebregulard41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../webfonts/iranyekanwebregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('../webfonts/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../webfonts/iranyekanwebregular.ttf') format('truetype'); }

@font-face { font-family: 'iranyekan-light'; src: url('../webfonts/iranyekanweblight.eot'); src: url('../webfonts/iranyekanweblightd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../webfonts/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('../webfonts/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../webfonts/iranyekanweblight.ttf') format('truetype'); }



